<body id="over">
<% include header %>
<% include navigatie %>
<% include border %>
<% include borderborder %>
<div class="over">

<p> Mijn naam is Joaquim Jacquemyn. Ik ben een student in het derde jaar Crossmedia-Ontwerp aan de AP Hogeschool te Antwerpen. In deze richting heb ik tot nu toe kennis op kunnen doen over Illustrator, Indesign, Photoshop, HTML/CSS/JAVASCRIPT, Cinema4D, Premiere Pro en After Effects. Deze heb ik kunnen verwerven door het maken van groot aantal verschillende opdrachten en projecten en aan de hand van een zeer leerrijke stage in het tweede jaar.</p>
<img class="edm2" src="/img/omtrek2.png">
<p> Momenteel focus ik mij vooral op een moderne, strakke stijl waarin ik graag ook natuur en fotografie verwerk.</p>
<p> Naast al deze dingen heb ik ook nog een sterke passie voor muziek waarop ik me in de toekomst graag nog meer zou willen toeleggen in combinatie met mijn reeds verworven competenties.</p>


</div>

<% include footer %>
